*{
    margin: 0px auto;
}
body{
    font-size: 16px;
    background-image: url("./Img/wallpaper.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -140px;
}


/*head*/
/*.head{
    border-bottom: 10px solid black;
    height: 150px;
    background-color: #9600bf;
    display: flex;
    align-items: center;
}

.head div{
    margin-left: 50px;
}

.pp{
    border-radius: 50%;
    width: 100px;
    width: 100px;
}

#pp_picture{
    margin: 20px;
    margin-left: 50px;
}

/*container*/
.mycontainer{
    border: 2px solid rgb(177, 177, 177);
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
    width:500px;
    height:500px;
    margin: 20px auto;
    display:flex;
    flex-direction: column;
}
.mycontainer>*{
    align-items: center;
    text-align: center;
    border-radius: 15px;
}

.timeline{
    width:500px;
    height:fit-content;
    padding:15px;
}
.timeline *{
    margin:5px;
    border-radius: 5px;
}

button:hover{background-color: #9600bf;}

.friends-part{
   width:100%;
    height:440px;
    overflow-y: scroll;
}

.friend{
    display:flex;
    margin:2px auto;
    width:80%;
    height:70px;
    background-color: white;
    border-radius: 5px;
    align-items: center;
}
 .friend img{width:60px;border-radius: 60px;}
.friend div{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius:20px;
    padding:10px;
    text-decoration: none;
    background-color:white;
    align-items: center;
    justify-content: center;
}
.friend p{width:200px;}
.friend div:hover{cursor:pointer;}

@media screen and (max-width:800px){
    .mycontainer{ width: 80%;}
    .timeline{width: 95%;}
}